.topBar {
    background-color: #FCFCFD;
    margin-block-start: 10px;
    padding-inline: 15px;
    display: flex;
    position: relative;
    z-index: 100000;
}

.title {
    block-size: 20px;
    padding: 5px;
    color: #303030;
    background-color: azure;
    border: 0;
    outline: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', 'Tajawal', sans-serif;
    font-weight: 600;
}

.title::placeholder {
    font-weight: 300;
}

.title:active, :hover, :focus {
    outline-offset: 0;
}

.title:focus {
    outline: 2px solid #3b82fa;
}

.utils {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imagesPopOver {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.playButton {
    height: 25px;
    text-decoration: none;
    background-color: #6B53FF;
    padding: 4px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconPlay {
    width: 18px;
    height: 18px;
}

.playSpan {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat', 'Tajawal', sans-serif;
    font-weight: 500;
}

.iconRtl {
    transform: scaleX(-1);
}

.saveTofile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.saveAsPdf {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.iconLoad {
    transform: scaleY(-1);
}

.loadFromFile {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}